$enable-cssgrid: true;
@import "../node_modules/bootstrap/scss/bootstrap";


h1 {
  text-align: center;
  font-family: "Lucida Calligraphy", serif;
  font-size: 3em;
}

h2 {
  font-family: "Sans Serif Collection", sans-serif;
  color: hsl(191, 89%, 13%);
  margin-block: 0.5em;
}

p {
  font-family: Candara, sans-serif;
  color: hsl(191, 89%, 13%);

}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: space-evenly;
  align-items: stretch;
}

.content-box {
  display: flex;
  border: 1px solid hsl(75, 55%, 41%);
  width: 30vw;
  padding: 1em;
  background: hsl(133, 89%, 93%);
  border-radius: 1em;
  flex-direction: column;
}

.content-box iframe {
  margin: 4.5%;
}